@import './fonts/fonts.css';

:root {
  --grey: #403d36;
  --bgc-white: #fcfaf5;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'inter';
  display: flex;
  background-color: var(--bgc-white);
  color: var(--grey);
  position: relative;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-transform: none;
  color: var(--grey);
}

.header__hr {
  position: absolute;
  top: 84px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--grey);
}

.main__hr {
  position: absolute;
  top: 546px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--grey);
}

.container {
  width: 1440px;
  margin: 0 auto;
}

header {
  img {
    padding: 11px 0px 9px 40px;
  }
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0;

  .title {
    padding-left: 40px;
    max-width: 538px;

    h1 {
      font-size: 58px;
      line-height: 54px;
      font-weight: 700;
      letter-spacing: -2px;
      margin-bottom: 48px;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.5px;
      font-weight: 400;

      span {
        display: block;
        margin-bottom: 24px;
      }
    }
  }

  img {
    margin-right: -170px;
  }

  .contacts {
    padding-right: 133px;

    h2 {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -1px;
      margin-bottom: 4px;
    }

    h3 {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -1px;
      margin-bottom: 16px;
      font-weight: 500;
    }

    h4 {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.5px;
      margin-bottom: 16px;
      font-weight: 400;
    }

    .ltu {
      margin-bottom: 8px;
    }

    .ltu,
    .slo {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.5px;
      font-weight: 400;
    }
  }
}

ul {
  padding-left: 40px;
  padding-right: 145px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 272px);

  li {
    padding-left: 16px;
    padding-top: 16px;
    border-left: 2px solid var(--grey);
    height: 238px;

    p {
      font-size: 29px;
      line-height: 29px;
      font-weight: 700;
      letter-spacing: -1px;
    }
  }
}

@media (max-width: 1439px) {
  ul {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1270px) {
  .main__hr {
    display: none;
  }

  .header__hr {
    top: 72px;
  }

  .lines {
    grid-area: lines;
  }

  .contacts {
    grid-area: contacts;
  }

  header {
    img {
      height: 40px;
      padding: 16px;
    }
  }

  main {
    padding: 24px 16px;
    padding-bottom: 16px;
    display: grid;
    grid-template-areas:
      'title title'
      'lines contacts';

    img {
      margin-right: 0;
    }

    .title {
      grid-area: title;
      padding-left: 0;
      width: auto;

      h1 {
        font-size: 42px;
        line-height: 40px;
        font-weight: 700;
        letter-spacing: -2px;
        margin-bottom: 24px;
      }

      p {
        font-size: 14px;
        letter-spacing: -0.5px;
        font-weight: 400;
        margin-bottom: 40px;
        padding-right: 16px;

        span {
          margin-bottom: 16px;
        }
      }
    }

    .lines {
      height: 174px;
    }

    .contacts {
      padding-right: 0;
      width: fit-content;

      h2 {
        font-size: 20px;
        letter-spacing: -1px;
        margin-bottom: 0px;
      }

      h3 {
        font-size: 16px;
        margin-bottom: 8px;
      }

      h4 {
        font-size: 14px;
        margin-bottom: 8px;
      }

      .ltu {
        margin-bottom: 8px;
      }

      .ltu,
      .slo {
        font-size: 14px;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;

    li {
      display: flex;
      align-items: center;
      border-left: none;
      margin-left: 16px;
      padding-left: 0;
      padding-top: 0;
      height: 54px;
      border-top: 2px solid var(--grey);
      width: 90%;

      p {
        font-size: 20px;
        line-height: 19px;
        letter-spacing: -1px;
        max-width: 50%;
      }
    }
  }
}